* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: monospace;
}

header,
h1 {
  background-color: rgb(190, 224, 253);
  margin: 0;
  text-align: center;
  padding: 0.4rem;
}

.question {
  cursor: pointer;
  display: block;
  background: lightgrey;
  padding: 1rem;
}

.question + input {
  display: none;
}

.question + input + div {
  display: none;
}

.question + input:checked + div {
  display: block;
}

.question-box {
  max-width: 80vw;
  max-height: 30vh;
  width: 30rem;
  height: 18rem;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(192, 208, 225);
  position: relative;
}

.question-box p {
  margin-top: 30px;
  margin-bottom: 0;
}

.question-box:last-of-type {
  margin-bottom: 10rem;
}

.answer {
  font-style: italic;
  margin-bottom: 20px;
}

.bookmark-emoji {
  font-size: 3rem;
  right: -8px;
  top: -42px;
  position: absolute;
  margin: 0;
}

.profile-page {
  display: block;
}

.profile {
  max-width: 80vw;
  width: 30rem;
  height: 12rem;
  margin: 30px auto 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(192, 208, 225);
}

.about-me {
  max-width: 80vw;
  width: 30rem;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-inline: 1rem;
}

.profile img {
  width: 10vh;
  height: auto;
}

section .profile-stats {
  max-width: 50vw;
  width: 16rem;
  /* margin: 30px auto; */
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  font-size: 1.2rem;
}

.profile-stats-items {
  background-color: rgb(236, 252, 253);
  padding-inline: 1rem;
  padding-block: 0.6rem;
}

.settings {
  margin-bottom: 80px;
}

footer {
  position: fixed;
  width: 100%;
  height: 10vh;
  bottom: 0px;

  background-color: rgb(181, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-inline: 2rem;
  padding: 0;
}

footer nav ul {
  width: 80%;
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.active-page {
  background-color: rgb(214, 182, 158);
}

footer nav li {
  list-style: none;
}

.icons {
  width: 2rem;
  padding: 0.3rem;
}

.icon1 {
  width: 2.9rem;
}

.icon3 {
  width: 2.6rem;
}
