* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: monospace;
}

header,
h1 {
  background-color: rgb(190, 224, 253);
  margin: 0;
  text-align: center;
  padding: 0.4rem;
}

.question {
  cursor: pointer;
  display: block;
  background: lightgrey;
  padding: 1rem;
}

.question + input {
  display: none;
}

.question + input + div {
  display: none;
}

.question + input:checked + div {
  display: block;
}

.question-box {
  width: 80vw;
  height: 30vh;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(192, 208, 225);
  position: relative;
}

.bookmark-emoji {
  font-size: 3rem;
  right: -8px;
  top: -12px;
  position: absolute;
  margin: 0;
}

.profile-page {
  display: block;
  height: 100vh;
}

.profile {
  width: 80vw;
  height: 20vh;
  margin: 30px auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(192, 208, 225);
}

.about-me {
  width: 80vw;
  height: auto;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.profile img {
  width: 10vh;
  height: auto;
}

.profile-stats {
  width: 50vw;
  height: auto;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.profile-stats-items {
  background-color: rgb(236, 252, 253);
  padding-inline: 1rem;
  padding-block: 0.6rem;
}

footer {
  position: sticky;
  width: 100%;
  height: 10vh;
  bottom: 0px;

  background-color: rgb(181, 199, 199);
}

footer nav {
  display: flex;
  justify-content: center;
}

footer nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-inline: 2rem;
  padding: 0;
}

.active-page {
  background-color: rgb(224, 149, 96);
}

footer nav li {
  list-style: none;
}

.icons {
  width: 2rem;
  padding: 0.3rem;
}

.icon1 {
  width: 2.9rem;
}

.icon3 {
  width: 2.6rem;
}
